@font-face{
  font-family: NanumGothic-Bold;
  src: url(../fonts/NanumGothic-Bold.ttf);
  font-style: normal;
  font-variant:initial;
}   
@font-face{
  font-family: NanumGothic-Regular;
  src: url(../fonts/NanumGothic-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}    
@font-face{
  font-family: NanumMyeongjo-Regular;
  src: url(../fonts/NanumMyeongjo-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}     
@font-face{
  font-family: Kanit-Regular;
  src: url(../fonts/Kanit-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}      
@font-face{
  font-family: Kanit-Medium;
  src: url(../fonts/Kanit-Medium.ttf);
  font-style: normal;
  font-variant:initial;
}     
@font-face{
  font-family: Kanit-Light;
  src: url(../fonts/Kanit-Light.ttf);
  font-style: normal;
  font-variant:initial;
}  
a:hover{
  text-decoration: none;
}  
   
@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}  

.navbar{
  height: 80px;
  background-color: black;
  z-index: 22;
}
.navbar .nav-item{
  margin-left: 15px;
  margin-right: 15px;
}
.navbar .nav-item .nav-link{
  color: #6c6356; 
  font-family: Kanit-Medium;
  font-size: 18px; 
}
.navbar .nav-item .nav-link:focus{
  color: #9E907D; 
}
.navbar .nav-item .nav-link:hover{
  color: #9E907D; 
}
footer{
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  height: 80px;
  background-color: #161616;
  z-index: 2;
  font-family: NanumGothic-Regular;
  text-align: center; 
  font-size: 13px;
  color: #646464;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand img{
  max-height: 60px;
}
.myVideo {
  object-fit: cover;
  position: fixed; 
  z-index:1;
  width: 100%;
  height: auto;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 10;
  height: calc(100vh - 160px);
  position: relative;
}
.app-load img{
  height: 75px;
  margin: 10px;
} 
.app-load{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
}
.btn-account{
  color: #fff;
  font-family: Kanit-Medium;
  font-size: 30px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #393431, #3e3936, #433e3b, #494440, #4e4945);
  border-bottom: 2px solid #2e2926; 
  transition: .33s all ease-out;
}
.btn-account:hover{ 
  background-image: linear-gradient(to bottom, #2d2727, #352f2e, #3e3735, #46403d, #4e4945);
  color: #b2944c;
}
.icon-right{
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: -100px;
}
.icon-right img{
  display: block;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.play-audio{
  height: 70px; 
  background: url(../images/off_audio.png) !important;
  background-size: 60px 60px  !important;
  background-repeat: repeat-x !important;
  background-position: center center !important;
}
.play-audio.active{ 
  background-repeat: repeat-x !important;
  background: url(../images/on_audio.png) !important; 
  background-size: 60px 60px  !important;
  background-position: center center !important;
}
.navbar2{
  background-color: #80b0f1 !important;
}
.navbar2 .nav-item .nav-link{
  color: #fff !important;  
}
.navbar2 .nav-item .nav-link:focus{
  color: #000 !important; 
}
.navbar2 .nav-item .nav-link:hover{
  color: #000 !important; 
}
.navbar2 .navbar-brand img{  
  -webkit-filter: drop-shadow(2px 1px 0 black)  drop-shadow(-1px -1px 0 black);
}
.main-regis{
  background-color: #F6F6F6;
  padding-top: 130px; 
  padding-bottom: 80px;
  z-index: 10;
  height: 100%;
}
.main-regis h3{
  font-size: 36px;
  font-family: NanumGothic-Bold;
  padding-bottom: 15px;
  border-bottom: 4px solid #CECECE;
  margin-bottom: 20px;
}
.main-regis form{  
  padding: 40px 100px;
  border: 1px solid #ccc;
  min-height: 640px;
  background: #fff;
  color: #2f2f2f;
  font-size: 17px;
  line-height: 26px;
}
.main-regis + footer{
  position: unset !important;
  width: 100%; 
}
.modal .modal-body{
  font-family: Kanit-Regular;
  font-size: 16px; 
}
.main-regis form label{
  font-family: Kanit-Regular;
  font-size: 16px;  
}
.main-regis form input{
  font-family: Kanit-Regular;
  font-size: 16px; 

}
.navbar-toggler i{
  color: #fff;
  font-size: 20px;
}
.navbar-toggler:focus{
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

/* transition: .33s all ease-out;  */
/* font-family: Inter-SemiBold;  Regular */
.bg-glass{
  background: rgba( 255, 255, 255, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  z-index: 11;
  position: relative; 
  padding: 30px 100px 50px;
} 
.bg-glass input{
  background-color: rgba( 255, 255, 255, 0.75 ) !important;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 0px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
 
} 


@media only screen and (max-width: 991px) { /* MOBILE */  
  .navbar{
    height: 60px; 
    padding: 0.5rem 0px !important;
  }
  .navbar-brand img{
    max-height: 36px;
  } 
  .myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  footer{ 
    height: 45px; 
  }
  .navbar .nav-item { 
    margin-left: 5px;
    margin-right: 5px
  }
  .navbar .nav-item .nav-link { 
    font-size: 14px;
  }
  footer{ 
    font-size: 12px; 
  }
  .app-load img {
    height: 45px;
    margin: 10px;
  }
  .btn-account { 
    font-size: 22px; 
  }
  .icon-right { 
    margin-right: 0px;
    margin-top: 100px;
  } 
  .main-regis form{  
    padding: 30px 20px; 
  }
  .main-regis { 
    padding-top: 80px;
    padding-bottom: 30px; 
  }
  .navbar-collapse{
    background-color: #000;
  }
  .navbar-nav {
    padding-left: 10px;
  }
  .bg-glass{ 
    padding: 20px  ;
  } 
  .regisx footer{
    position: relative !important;
    margin-top: 30px;
  }
}
 
@media only screen and (width: 1024px) { /* MOBILE */   
  .myVideo {
    object-fit: cover;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}